 <web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
           version="5.0">
     <session-config>
         <tracking-mode>COOKIE</tracking-mode>
     </session-config>
     <filter>
         <filter-name>AuthorizationFilter</filter-name>
         <filter-class>servlet.AuthorizationFilter</filter-class>
     </filter>
     <filter-mapping>
         <filter-name>AuthorizationFilter</filter-name>
         <url-pattern>/index.jsp</url-pattern>
     </filter-mapping>
</web-app>
